---
import { getSession } from "auth-astro/server";
import client from "../lib/apollo-client";
import { gql } from "@apollo/client/core";
import { QUERY_TODO_LIST, ADD_TODO } from "../services/todos";

const session = await getSession(Astro.request);
const isAuthenticated = session && session.user;

const { data } = await client.query({
  query: QUERY_TODO_LIST,
  variables: { userId: "bhattramkrishna98@gmail.comg" },
});

const { data: addList } = await client.mutate({
  mutation: ADD_TODO,
  variables: { userId: "bhattramkrishna98@gmail.comg" },
});
console.log("data", data);
let userName = "Guest"; // Default value if user is not authenticated
if (isAuthenticated) {
  userName = session?.user?.name || ""; // Assign user's name if authenticated
  //console.log("Hello", session, { userName });
}
---

<head>
  {isAuthenticated ? <p>Welcome {userName}</p> : <p>Not logged in</p>}
</head>
<body>
  <main>
    <h1>Hello, Astronaut!</h1>

    <button id="login">Login With Github</button>
    <button id="login-with-google">Login With Google</button>
    <button id="logout">Logout</button>

    <!--  {
      !!data &&
        data?.map((item: any) => (
          <ul>
            <li>{item.name}</li>
          </ul>
        ))
    } -->

    <script>
      const { signIn, signOut } = await import("auth-astro/client");
      if (typeof sessionStorage !== "undefined") {
        const loginButton = document.querySelector(
          "#login-with-google"
        ) as HTMLButtonElement | null;
        const loginGitButton = document.querySelector(
          "#login"
        ) as HTMLButtonElement | null;
        const logoutButton = document.querySelector(
          "#logout"
        ) as HTMLButtonElement | null;

        if (loginButton && loginGitButton) {
          loginButton.onclick = () => signIn("google");
          loginGitButton.onclick = () => signIn("github");
        }

        if (logoutButton) {
          logoutButton.onclick = () => signOut();
        }
        // if (loginButton) {
        //   loginButton.onclick = () => signIn("github");
        // }
        // if (logoutButton) {
        //   logoutButton.onclick = () => signOut();
        // }
      }
    </script>
  </main>
</body>
